# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Environment variables & private keys
.env
.env*.local

# Node & package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
